.popup__button{
  background-color: black;
  color: white;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  margin: 0 auto;
  padding:0;
  max-width:358px;
  transition: 3s;

  margin-bottom: 36.51px;
  width:100%;
  max-width:358px;
  margin-top: 18.26px;
  height:50.15px;
  border:none;
  border-radius:2px;
  cursor: pointer;
}

@media screen and (max-width: 882px) {
  .popup__button{
    max-width: 238px;
    height: 46px;
  }
}

.popup__button:hover{
  opacity: 80%;
}