.profile__button{
  grid-area: button;
  width: 24px;
  height:24px;
  /* margin: 0;
  padding: 0;*/
  border:none;
  transition: 3s; 
  background: url('../../../images/EditButton.png') no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__button:hover{
  opacity: 60%;
}