
.image-popup__close{
    width:100%;
    max-width: 40.7px;
    height: 40.7px;
    position: absolute;
    
    
    top: -41px;
    right: -41px;
    margin:0;
    padding: 0;
    background: url('../../../images/CloseIcon.png') no-repeat;
    background-size: contain;
    border:none;
    transition: 3s;
    cursor: pointer;
}

.image-popup__close:hover{
    opacity: 80%;
}